:root {
    --primary-color: #08A6E4;
    --secondary-color: #FB3B64;
    --third-color: #55DFB4;
    --font-color-black: #000000;
    --font-color-white: #FFFFFF;
    --font-color-grey: #A5A5A5;
    --background-color-grey: #F7F7F7;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --font-raleway: Raleway, sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;


}

* {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
}

a[href] {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0;
}

.logo {
    font-family: var(--font-raleway);
    font-weight: 300;
    color: var(--primary-color);
    font-size: 2rem;


}

.header {
    height: 4.375rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.header__container {
    height: 100%;
    padding-inline: 8.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container .header__menu {
    display: flex;
    padding: 0 1.625rem;
}

.header__menu .menu__item {
    color: var(--font-color-grey);
    font-family: var(--font-open-sans);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.6875rem;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
    padding: 28px 18px 22px;

}

.header__menu .menu__item:last-child {
    padding-right: 0;
}

.header__menu .menu__item.menu__item--active,
.header__menu .menu__item:hover {
    color: var(--font-color-black);
    border-color: var(--primary-color);
}

.intro__img {
    max-width: 100%;
}

.intro {
    width: 100%;
    margin-top: 130px;
    text-align: center;
}

.intro .intro__hdl {
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 3.0625rem;
    text-align: center;
    margin-top: 8.125rem;

}

.intro .intro_lead {
    display: inline-block;
    font-family: var(--font-open-sans);
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 38px;

}

.intro .intro__box {
    width: 100%;
    height: auto;
}

.intro .intro__link {
    display: inline-block;
    font-family: var(--font-open-sans);
    font-weight: 700;
    text-align: center;
    color: var(--font-color-white);
    font-size: 1rem;
    padding: 22px 157px;

}

.btn {
    background-color: var(--primary-color);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;

}

.btn-lg {

    padding: 23px 157px;
}

.btn-primary {
}

.stats__container {
    width: 100vw;
}

.stats__container .stats__hdl {
    font-family: var(--font-raleway);
    font-weight: 400;
    color: var(--font-color-black);
    font-size: 2.25rem;
    margin-top: 6.25rem;
    text-align: center;
    margin-bottom: 6.3125rem;

}

.stats__visual {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.stats__box {
    margin-inline: 90px;
    text-align: right;
    font-family: var(--font-raleway);
    max-width: 100%;
}

.stats__box .stats__circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
}

.stats__img {
    position: absolute;
}

.stats__box:first-child .stats__circle {
    background: var(--secondary-color);
    left: 20%;
}

.stats__box:first-child .stats__img {
    top: 4%;
    left: 45%;
}

.stats__box:nth-child(2) .stats__circle {
    background: var(--primary-color);
    left: 30%;
}

.stats__box:nth-child(2) .stats__img {
    top: 20%;
    left: 30%;
}

.stats__box:last-child .stats__circle {
    background: var(--third-color);
    left: 30%;
}

.stats__box:last-child .stats__img {
    top: 10%;
    left: 45%;
}

.stats__box:first-child {
    width: 116px;
    height: 140px;
}

.stats__box:nth-child(2) {
    width: 176px;
    height: 167px;
}

.stats__box:last-child {
    width: 163px;
    height: 168px;
}

.stats__box .stats-nr {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;

}

.stats__box .stats-descr {
    text-align: center;
    font-size: 1.0625em;
    font-weight: 400;
    color: var(--font-color-grey);
    position: relative;

}

.benefits {
    padding: 100px 0;
    background-color: var(--background-color-grey);
}

.benefits__container {
    padding: 0 100px;
}

.benefits__box {
    background-color: var(--font-color-white);
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
}

.benefits__text {
    box-sizing: content-box;
    max-width: 415px;
    margin: 90px 36px;
}

.benefits__text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--line-color);
    display: block;
    margin-top: 50px;
}

.benefits__descr {
    margin-top: 30px;
    line-height: 1.375rem;
}

.benefits__img {
    position: relative;
}

.benefits__img img {
    position: relative;
    z-index: 2;
}

.benefits__container .benefits__box.benefits--laptop {
    --line-color: var(--secondary-color);
    flex-direction: row-reverse;
}

.benefits__box.benefits--laptop .benefits__img {
    margin-right: 117px;
    margin-bottom: 38px;
}

.benefits__box.benefits--laptop .benefits__img img {
    width: 386px;
    height: auto;
    position: relative;
    z-index: 2;
}

.benefits__box.benefits--laptop .benefits__img::before {
    content: "  ";
    width: 180px;
    height: 180px;
    background-color: var(--secondary-color);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    transform: rotate(45deg);
}

.benefits__box.benefits--phone {
    --line-color: var(--primary-color);
    padding: 0 20px 0 70px;
}

.benefits__box.benefits--phone .benefits__img::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--primary-color);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -7%;
}

.benefits__box.benefits--phone .benefits__img img {
    width: 426px;
    height: 326px;
    position: relative;
    z-index: 2;
    margin-bottom: 65px;
}

.benefits__box .benefits--phone .benefits__text {
    margin: 70px 0;
}

.benefits__container .benefits__box .benefits__title {
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 2.25rem;
}

.benefits__container .benefits__box .benefits__descr {
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: 1rem;
    box-sizing: content-box;
}

.benefits__container .benefits__box .benefits__text {
    max-width: 416px;
    margin: 90px 36px;
    box-sizing: content-box;

}
.benefits__double {
    --accent-color: var(--third-color);
    display: flex;
}

.benefits__double > div {
    margin-bottom: 0;
}

.benefits__box--solo {
    max-width: 620px;
}

.benefits__box--solo .benefits__text {
    max-width: none;
    margin: 70px 35px;

}

.benefits__box--image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: none;
    margin-left: 60px;
    margin-bottom: 0;

}

.benefits__box--image img {
    width: 295px;
    height: auto;
    margin-top: 55px;
    margin-bottom: 0;

}