:root {
    --primary-color: #08A6E4;
    --secondary-color: #FB3B64;
    --third-color: #55DFB4;
    --font-color-black: #000000;
    --font-color-white: #FFFFFF;
    --font-color-grey: #A5A5A5;
    --background-color-grey: #F7F7F7;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --font-raleway: Raleway, sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;


}

* {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
}

a[href] {
    text-decoration: none;
}

.container {
    width: 84.5rem;
    margin: 0;
}

.logo {
    font-family: var(--font-raleway);
    font-weight: 300;
    color: var(--primary-color);
    font-size: 2rem;


}

.header {
    height: 4.375rem;
    box-shadow: 0 3px 6px #00000029;
}

.header__container {
    height: 100%;
    width: 100%;
    padding-inline: 8.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container .header__menu {
    display: flex;
    padding: 0 1.625rem;
}

.header__menu .menu__item {
    color: var(--font-color-grey);
    font-family: var(--font-open-sans);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.6875rem;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
    padding: 28px 18px 22px;

}

.header__menu .menu__item:last-child {
    padding-right: 0;
}

.header__menu .menu__item.menu__item--active,
.header__menu .menu__item:hover {
    color: var(--font-color-black);
    border-color: var(--primary-color);
}


.intro {
    width: 100vw;
    margin-top: 130px;
    text-align: center;


}

.intro .intro__hdl {
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 3.0625rem;
    text-align: center;
    margin-top: 8.125rem;

}

.intro .intro_lead {
    display: inline-block;
    font-family: var(--font-open-sans);
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 38px;

}

.intro .intro__box {

}

.intro .intro__link {
    display: inline-block;
    font-family: var(--font-open-sans);
    font-weight: 700;
    text-align: center;
    color: var(--font-color-white);
    font-size: 1rem;
    padding: 22px 157px;

}

.btn {
    background-color: var(--primary-color);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;

}

.btn-lg {

    padding: 23px 157px;
}

.btn-primary {
}

.stats__container {
    width: 100vw;
    }

.stats__container .stats__hdl {
    font-family: var(--font-raleway);
    font-weight: 400;
    color: var(--font-color-black);
    font-size: 2.25rem;
    margin-top: 6.25rem;
    text-align: center;
    margin-bottom: 6.3125rem;

}
.stats__visual{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.stats__box {
    margin-inline: 90px;
    text-align: right;
    font-family: var(--font-raleway);
    max-width: 100%;
}
.stats__box .stats__circle{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
}
.stats__img{
    position: absolute;
}
.stats__box:first-child .stats__circle{
    background: var(--secondary-color);
    left: 21.37px;
}
.stats__box:first-child .stats__img {
    top: 4%;
    left: 45%;
}
.stats__box:nth-child(2) .stats__circle{
    background: var(--primary-color);
    left: 57px;
}
.stats__box:nth-child(2) .stats__img {
    top: 20%;
    left: 32%;
}
.stats__box:last-child .stats__circle{
    background: var(--third-color);
    left: 50.66px;
}
.stats__box:last-child .stats__img {
    top: 10%;
    left: 45%;
}
.stats__box:first-child{
    width: 116px;
    height: 140px;
}
.stats__box:nth-child(2) {
    width: 176px;
    height: 167px;
}
.stats__box:last-child{
    widht: 163px;
    height: 168px;
}
.stats__box .stats-nr {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;

}

.stats__box .stats-descr {
    text-align: center;
    font-size: 1.0625em;
    font-weight: 400;
    color: var(--font-color-grey);
    position: relative;

}

.benefits {
    width: 100vw;

}

.benefits__container {
}

.benefits__container .benefits__box {
}

.benefits__container .benefits__box.benefits--phone {
}

.benefits__container .benefits__box .benefits__title {
}

.benefits__container .benefits__box .benefits__descr {
}

.benefits__container .benefits__box.benefits--sm {
}